*{
    margin: 0px;
    padding: 0px;
    color:black;
    background-color:rgb(245, 203, 156);
}

h1{
    padding: 0.5em;
    background-color:rgb(111,183,214);
    font-family: 'Hind Guntur', sans-serif;
    
}
h2{
    padding: 0.1em;
    background-color:rgb(111,183,214);
    font-family: 'Hind Guntur', sans-serif;
    text-align: center;
}
p{
    margin-top: .2em;
    margin-bottom: .2em;
    margin-left: 1em;
    margin-right: 1em;
    font-family: 'Noto Sans', sans-serif;
}

.equation{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

#demo-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}
#output-graph, #output-graph2{
    margin-left: 10vw;
    width: 40vw;
    height: 20vw;
    background-color: rgb(19, 19, 19);
}
#sum-slider{
    width: 95%;
}
#proof{
    width: 40vw;
    position: relative;
    left: 135px;
}

#activity-button, #anti-activity-button{
    margin: .2em;
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 260px;
}
#activity-bg{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 400px;
    height: 100vh;
    background-color: rgba(0,0,0,0.95);
}

.activity-hidden{
    display: none;
}

#background{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color:brown;
}
#output-graph3{
    width: 100%;
    height: 100%;
}